*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(250, 250, 250);
}

/* header */
header{
    padding: 10px 20px;
    background-color: white;
}

header > span{
    line-height: 50px;
    font-size: 40px;
    font-weight: bold;
}

img, header > span{
    vertical-align: middle;
}

/* add */
.add{
    width: 80%;
    margin: 50px auto 0 auto;
    padding: 0 40px 30px 40px;
    background-color: white;
    border-radius: 10px 10px 0 0;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
    border-bottom: 2px solid rgb(250, 250, 250);
}

.blue{
    background-color: lightskyblue;
    border-radius: 4px;
    padding: 5px;
    color: white;
    border: 1px solid;
    border-color:rgba(0, 0, 0, 0.5);
}

.void{
    border-radius: 4px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid;
    border-color:rgba(0, 0, 0, 0.5);
}

/* main */
main{
    width: 80%;
    margin: 0 auto 50px auto;
    padding: 30px 40px 30px 40px;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

section > div{
    display: inline-block;
}