*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

span{
    line-height: 50px;
    vertical-align: middle;
    font-size: 30px;
    font-weight: bolder;
}