*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

/* header */
header{
    margin: 10px 20px;
}

span{
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
}

img, span{
    vertical-align: middle;
}